*.c
*.o
*.h
codes/apps/barnes/BARNES
codes/apps/fmm/FMM
codes/apps/ocean/contiguous_partitions/OCEAN
codes/apps/radiosity/RADIOSITY
codes/apps/raytrace/RAYTRACE
codes/apps/volrend/VOLREND
codes/apps/water-nsquared/WATER-NSQUARED
codes/apps/water-spatial/WATER-SPATIAL
codes/kernels/cholesky/CHOLESKY
codes/kernels/fft/FFT
codes/kernels/lu/contiguous_blocks/LU
codes/kernels/lu/non_contiguous_blocks/LU
codes/kernels/radix/RADIX
!codes/apps/radiosity/glibdumb/
!codes/apps/radiosity/glibps/
